---
import PostCard from "../../components/PostCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { formatBlogPosts } from "../../js/utils";
import Pagination from "../../components/Pagination.astro";
import CategoryCloud from "../../components/CategoryCloud.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob("./*.md");
  const formattedPosts = formatBlogPosts(allPosts);
  return paginate(formattedPosts, {
    pageSize: 2,
  });
}

const { page } = Astro.props;
---

<MainLayout title="Blog" description="Some meta information for blog">
  <section class="p-24">
    <h1 class="mb-4 text-6xl font-bold">New Blog Posts</h1>
    <div class="flex flex-row" aria-label="New Plog Bosts">
      {
        page.data.map((post) => (
          <div class=" p-4">
            <PostCard post={post} tagType={"h2"} />
          </div>
        ))
      }
    </div>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
  <aside class="flex flex-col items-center" aria-label="Blog Categorys">
    <h2 class="text-3xl font-bold">Blog Categories</h2>
    <CategoryCloud showCount={false} />
  </aside>
</MainLayout>
