---
---

<footer class="w-full bg-white p-4 text-center shadow-xl shadow-indigo-300">
  <small
    >Copyright &copy <span id="copyright"></span> | All rights reserved!</small
  >
</footer>

<script is:inline>
  console.log("hej!");
  console.log("loaded!");

  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }

  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
